<div class="row metro" >
    <div class="col-md-12">

      <fieldset>
          <legend>Choissisez un type de rapport</legend>
      </fieldset>

      <a href="#/search/uo" class="report-choice">
          <div class="tile bg-darkRed">
              <div class="tile-content icon">
                  <i class="fa fa-cubes"></i>
              </div>
              <div class="tile-status">
                  <span class="name">Unités d'opération</span>
              </div>
          </div>
      </a>
      <a href="#/search/sa" class="report-choice">
          <div class="tile bg-darkBlue">
              <div class="tile-content icon">
                  <i class="fa fa-bar-chart"></i>
              </div>
              <div class="tile-status">
                  <span class="name">Services auxiliaires</span>
              </div>
          </div>
      </a>
        
    </div>
</div>
